<div class="fontD ">
  <h2>Portez fiérement</h2>
  <h1>vos couleurs</h1>
  <p>Ajouter une touche de style a votre quotidien</p>
  <div class="des">
    <p>que vous soyez au compus au ailleurs.</p>
  </div>
</div>


<div class="card card-container">
  <p-carousel [value]="products" [numVisible]="4" [numScroll]="3" [circular]="false"
    [responsiveOptions]="responsiveOptions" styleClass="custom-carousel">
    <ng-template let-product pTemplate="item">
      <a [routerLink]="'product/' + product.idProduct">
        <div class=" custom-carousel-item border-1 surface-border m-2 text-center py-3 px-2 ">
          <p-carousel [value]="product.imgs" [numVisible]="1" [circular]="false">
            <ng-template let-img pTemplate="item">
              <img [src]="img" alt="Product Image" class="product-image" />
            </ng-template>
          </p-carousel>
          <div class="card-body">
            <div class="card-body-up">
              <h4 class="title">{{ product.nomProduct }}</h4>
              <h4 class="description"><span>UIR pride</span> MANCHES COURTES</h4>
              <div class="variety-wrapper">
                <h5 class="variety">- Blanc -</h5>
              </div>
            </div>
            <div class="card-body-down">
              <div class="tags-and-button">
                <p class="text-left">Taille</p>
              </div>
              <div class="tags-and-button">
                <p class="text-left">Quantié</p>
              </div>
            </div>
            <p-button label="Ajouter au panier"></p-button>
            <div class="stock">
              <div class="pi pi-box"></div>
              <p>Produit en stock</p>
            </div>
          </div>
        </div>
      </a>
    </ng-template>
  </p-carousel>
</div>