<div class="fontD ">
  <h2>Portez fiérement</h2>
  <h1>vos couleurs</h1>
  <p>Ajouter une touche de style a votre quotidien</p>
  <div class="des">
    <p>que vous soyez au compus au ailleurs.</p>
  </div>
</div>


<div class="card card-container">
  <p-carousel [value]="products" [numVisible]="4" [numScroll]="3" [circular]="false"
    [responsiveOptions]="responsiveOptions" styleClass="custom-carousel">
    <ng-template let-product pTemplate="item">
      <div class=" custom-carousel-item border-1 surface-border m-2 text-center py-5 px-3 ">
        <p-carousel [value]="product.imgs" [numVisible]="1" [circular]="false">
          <ng-template let-img pTemplate="item">
            <img [src]="img" alt="Product Image" class="product-image" />
          </ng-template>
        </p-carousel>
        <div>
          <h4 class="mb-1">{{ product.nomProduct }}</h4>
          <h6 class="mt-0 mb-3">{{ '$' + product.prixProduct }}</h6>
          <p-tag [value]="product.description" [style]="{'border-radius': '10px'}"></p-tag>
          <div class="tags-and-button">
            <p class="text-left">Quantié</p>

            <p-splitButton label="choisissez votre quantité" styleClass="p-button-text p-button-secondary mr-2 mb-2 "
              [style]="">
            </p-splitButton>
          </div>
          <p-inputNumber [(ngModel)]="value1" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical"
            spinnerMode="vertical" inputId="vertical" decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"></p-inputNumber>
          <div *ngFor="let variety of product.varieties" class="mt-5 flex-direction-column align-items-start ">

            <!-- <h4>{{ variety.varietyName }}</h4><br> -->
            <!-- <p-multiSelect [options]="getVarietyOptions(product.varieties)" [(ngModel)]="selectedVarieties" optionLabel="varietyValue"></p-multiSelect> -->
            <!-- <h4>Quantity: {{ variety.quantity }}</h4> -->
            <!-- Add other variety details as needed -->
          </div>
          <div class="mt-5 flex align-items-center justify-content-center gap-2">
            <p-button label="Ajouter au Panier" [style]="{'border-radius': '20px'}" />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>