
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Gamja Flower', sans-serif;

$color-primary: rgb(4, 4, 81);;
$color-secondary: yellowgreen;
$color-white: #fff;
$color-dark: #111;
$color-grey: #eee