/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import './variable';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-primary;
}

ul, li, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}